$background-color-full:#F9ED69;
$background-color-home:#F08A5D;
$text-color:#fff;
$first-color:#f06292;
$second-color:#ba68c8;
$third-color:#FFD54D;
$fourth-color:#4fc3f7;
$fifth-color:#aed581;
$button-color:#44c567;